# Travis CI config
# http://docs.travis-ci.com/user/languages/javascript-with-nodejs/

sudo: false
language: node_js
matrix:
  include:
    - node_js: 4
branches:
  only:
    - master            # only run CI on the master branch
    - /^PR /            # also build pull requests
after_success:
  - cat coverage/lcov.info | node_modules/coveralls/bin/coveralls.js # send code-coverage data to Coveralls
